<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta
	http-equiv="X-UA-Compatible"
	content="IE=edge,chrome=1" />
<meta
	name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<link
	rel="stylesheet"
	th:href="@{/layui/css/layui.css}"
	media="all" />
<link
	rel="stylesheet"
	href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" />
</head>
<body>
	<div class="layui-row" style="margin: 10px 0px;">
		<div class="layui-col-md4 layui-col-sm4  layui-col-md-offset1">
			<div class="layui-inline">
				<label class="layui-form-label">名称：</label>
				<div class="layui-input-inline">
					<input
						type="text"
						class="layui-input param_name" placeholder="请输入用户名"/>
				</div>
			</div>
		</div>
		<div class="layui-col-md4 layui-col-sm4">
			<div class="layui-inline layui-form">
				<label class="layui-form-label">用户类型：</label>
				<div class="layui-input-inline">
					<select class="param_userType">
						<option value="1101">商家</option>
						<option value="1201">调研</option>
						<option value="1301">销售</option>
						<option value="1401">平台运营</option>
					</select>
				</div>
			</div>
		</div>
		<div class="layui-col-md1">
			<button
				class="layui-btn"
				onclick="search()">
				<i class="layui-icon">&#xe615;</i> 搜索
			</button>
		</div>
	</div>
	<div class="layui-row">
		<table
			class="layui-hide"
			id="pageData"></table>
	</div>
</body>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js "></script>
<script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.min.js"></script>
<script
	th:src="@{/layui/layui.js}"
	charset="utf-8"></script>
<script
	th:src="@{/js/kemean_layui.js}"
	charset="utf-8"></script>
<script
	type="text/javascript"
	th:inline="javascript">
	var url_page_data = /*[[@{/admin/support/user_data}]]*/;
	var url_message_add = /*[[@{/admin/msg/add_data}]]*/;
	var form;
	var table;
	layui.use([ 'table', 'laydate' ], function() {
		 table = layui.table;
		var laydate = layui.laydate;
		 form = layui.form;
		

		table.render({
			elem : '#pageData',
			url : url_page_data,
			cols : [ [  {
				field : 'uid',
				title : '代研号',
				width:100
			},{
				field : 'nickName',
				title : '名称'
			},{
				field : 'phone',
				title : '手机号'
			},{
				field : 'userTypeStr',
				title : '用户类型',
			},{
				title : '用户状态',
				templet : '#switch_user_status',
			},{
				field : 'createTime',
				title : '注册时间'
			},{
				toolbar : "#operate",
				title : '操作'
			} ] ],
			page : true,
			id : 'dataTable'
		});
	});
	
	function search(){
		var table = layui.table;
		var param_name=$(".param_name").val();
		var paramUserType=$(".param_userType").val();
		table.reload("dataTable",
			{
				page:{curr:1},
				where:{
					name:param_name,
					userType:paramUserType
				}
			});
	}
	
	
	
	function sendInfo(objId){
		layer.open({
			title : "信息发送",
			content :sendInfoDiv(),
			skin : "layui-layer-molv",
			area : [ '500px', '250px' ],
			btn : [ '确定' ],
			offset: '100px',
			btn1 : function() {
				var param_content=$(".param_content").val();
				if(!param_content){
					layer.msg("请输入发送的消息内容");
					return false;
				}
				$.post(url_message_add, {userId:objId,type:1301,record:param_content,title:"您有一条投诉消息"}, function(data, textStatus, req) {
					layer.msg(data.info);
				});
			},
			closeBtn : 1,
			anim : 0
		})	
	}
	
	function sendInfoDiv(){
		return	  '<div class="layui-form-item"><label class="layui-form-label">内容:</label>'
				 +'<div class="layui-input-block"><textarea  type="textarea " class="layui-textarea  param_content" placeholder="请输入发送的内容" /></div></div>';
	}
	
</script>

<script
	type="text/html"
	id="switch_user_status">
{{# if(d.userStatus == 1101){ }}
	<input type="checkbox"  value="{{d.objId}}" lay-skin="switch" lay-text="正常|禁用"  lay-filter="user_status" checked="checked" ></input>
{{# }else{ }}
	<input type="checkbox"  value="{{d.objId}}" lay-skin="switch" lay-text="正常|禁用"  lay-filter="user_status" ></input>
{{# } }}
</script>

<script
	type="text/html"
	id="operate">
	<button class="layui-btn layui-btn-sm" onclick="sendInfo({{d.objId}})"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>&nbsp;消息发送</button> 
	<a class="layui-btn layui-btn-sm"
	th:href="@{/admin/user/user_info_page?objId={{d.objId}}}"><i
	class="fa fa-info"
	aria-hidden="true"></i>&nbsp;用户详情</a>
</script>
</html>