<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta
	http-equiv="X-UA-Compatible"
	content="IE=edge,chrome=1" />
<meta
	name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<link
	rel="stylesheet"
	th:href="@{/layui/css/layui.css}"
	media="all" />

<link
	rel="stylesheet"
	href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" />
</head>
<body class="layui-fluid">

	<div
		class="layui-row layui-col-space3"
		style="margin-top: 30px;">
		<div class="layui-col-md4 layui-col-sm4 layui-col-md-offset1">
			<label class="layui-form-label">客户编号：</label>
			<div class="layui-input-block">
				<input
					type="text"
					class="layui-input param_userId" placeholder="请输入客户编号"/>
			</div>
		</div>
		<div class="layui-col-md6 layui-col-sm6">
			<label class="layui-form-label">时间：</label>
			<div class="layui-input-inline">
				<input
					type="text"
					class="layui-input param_date_start" placeholder="请选择开始日期"/>
			</div>
			-
			<div class="layui-input-inline">
				<input
					type="text"
					class="layui-input param_date_end" placeholder="请选择结束日期"/>
			</div>
		</div>
		<div class="layui-col-md1">
			<button
				class="layui-btn"
				onclick="search()">
				<i class="layui-icon">&#xe615;</i> 搜索
			</button>
		</div>
	</div>



	<div
		class="layui-row"
		style="margin-top: 10px;">
		<div class="layui-card">
			<div class="layui-card-header">
				<i
					class="fa fa-line-chart"
					aria-hidden="true"></i>&nbsp;<font
					color="#009688"
					style="font-weight: bold;">数据分析</font>
			</div>
			<div class="layui-card-body">
				<div class="layui-row">
					<div id="invest_chart"></div>
				</div>
			</div>
		</div>
	</div>


</body>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js "></script>
<script
	th:src="@{/layui/layui.js}"
	charset="utf-8"></script>
<script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
<script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
<script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>

<script
	type="text/javascript"
	th:inline="javascript">
	var search_url=/*[[@{/admin/invest/chart/user_finance_data}]]*/;
	var chart_data=/*[[${pageData}]]*/;
	layui.use(['laydate','layer'],function(){
		var laydate=layui.laydate;
		laydate.render({
			elem : '.param_date_start',
			type : 'date'
		});
		
		laydate.render({
			elem : '.param_date_end',
			type : 'date'
		});
	});
	
	function search(){
		var paramDateStart=$(".param_date_start").val();
		var paramDateEnd=$(".param_date_end").val();
		if(Date.parse(paramDateStart)>Date.parse(paramDateEnd)){
			layer.msg('开始日期不能大于结束日期');
			return false;
		};
		var param_userId=$(".param_userId").val();
		
		$.ajax({
			url:search_url,
			type:'GET',
			data:{
				dateStart:paramDateStart,
				dateEnd:paramDateEnd,
				userId:param_userId
			},
			success:function(res){
				init(res);
				
			}
		})
	}
	
	$(function(){
		init(chart_data);
		
	});
	
	function init(chartData){
	Highcharts.chart('invest_chart', {
		chart : {
			type : 'line'
		},
		title : {
			  text: '调研客户流水账统计'
		},
		xAxis : {
			type:'category' 
		},
		yAxis : {
			title : {
				text : '金额'
			}
		},
		colors : [ '#009688', '#E63870', '#58E481', '#F68686', '#FFEED0' ],
		plotOptions : {
			series : {
				label : {
					connectorAllowed : false
				}
			}
		},
		series : [ {
				name : '充值金额',
				data : chartData.rechargeMoney
			},
			 {
				name : '提现余额',
				data : chartData.withdrawMoney
			}]
	});
	
	}
	
	
</script>

</html>