<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta
	http-equiv="X-UA-Compatible"
	content="IE=edge,chrome=1" />
<meta
	name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<link
	rel="stylesheet"
	th:href="@{/layui/css/layui.css}"
	media="all" />
<link
	rel="stylesheet"
	href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" />
</head>
<body>
	<div
		class="layui-row"
		style="margin: 10px 0px;">
		<div class="layui-col-md4 layui-col-sm4 layui-col-md-offset1">
			<div class="layui-inline">
				<label class="layui-form-label">代研号：</label>
				<div class="layui-input-inline">
					<input
						type="text"
						class="layui-input param_uid" placeholder="请输入代研号"/>
				</div>
			</div>
		</div>
	</div>
	<div class="layui-row">
		<div class="layui-col-md4 layui-col-sm4  layui-col-md-offset1">
			<div class="layui-inline">
				<label class="layui-form-label">手机号：</label>
				<div class="layui-input-inline">
					<input
						type="text"
						class="layui-input param_phone" placeholder="请输入手机号"/>
				</div>
			</div>
		</div>
		<div class="layui-col-md4 layui-col-sm4">
			<div class="layui-inline layui-form">
				<label class="layui-form-label">用户类型：</label>
				<div class="layui-input-inline">
					<select class="param_userType">
						<option value="">全部</option>
						<option value="1101">消费者</option>
						<option value="1201">商家</option>
					</select>
				</div>
			</div>
		</div>
		<div class="layui-col-md1 layui-col-sm1">
			<button
				class="layui-btn"
				onclick="search()">
				<i class="layui-icon">&#xe615;</i> 搜索
			</button>
		</div>
	</div>
	<div class="layui-row">
		<table
			class="layui-hide"
			id="pageData"></table>
	</div>
</body>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js "></script>
<script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.min.js"></script>
<script
	th:src="@{/layui/layui.js}"
	charset="utf-8"></script>
<script
	th:src="@{/js/kemean_layui.js}"
	charset="utf-8"></script>
<script
	type="text/javascript"
	th:inline="javascript">
	var url_page_data = /*[[@{/admin/user/page_data}]]*/;
	
	layui.use([ 'table', 'laydate' ], function() {
		var table = layui.table;
		var laydate = layui.laydate;
		var  form = layui.form;
		

		table.render({
			elem : '#pageData',
			url : url_page_data,
			cols : [ [  {
				field : 'uid',
				title : '代研号',
				width:120,
			},{
				field : 'nickName',
				title : '昵称'
			}, {
				field : 'phone',
				title : '手机号'
			},{
				field : 'userTypeStr',
				title : '用户类型',
			},{
				title : '用户状态',
				templet : '#switch_user_status',
			},{
				field : 'createTime',
				title : '注册时间',
			},{
				toolbar : "#operate",
				title : '操作',
				width:320
			} ] ],
			page : true,
			id : 'dataTable'
		});
	});
	
	function search(){
		var table = layui.table;
		var paramUid=$(".param_uid").val();
		var paramPhone=$(".param_phone").val();
		var paramUserType=$(".param_userType").val();
		table.reload("dataTable",
			{
				page:{curr:1},
				where:{
					uid:paramUid,
					phone:paramPhone,
					userType:paramUserType
				}
			});
	}
	
	
	

</script>

<script
	type="text/html"
	id="switch_user_status">
{{# if(d.userStatus == 1101){ }}
	<input type="checkbox"  value="{{d.objId}}" lay-skin="switch" lay-text="正常|禁用"  lay-filter="user_status" checked="checked" ></input>
{{# }else{ }}
	<input type="checkbox"  value="{{d.objId}}" lay-skin="switch" lay-text="正常|禁用"  lay-filter="user_status" ></input>
{{# } }}
</script>

<script
	type="text/html"
	id="operate">
	<a class="layui-btn layui-btn-sm"
	th:href="@{/admin/invest/like_add_page?userId={{d.objId}}}"><i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;发布点赞</a>

	<a class="layui-btn layui-btn-sm"
	th:href="@{/admin/invest/vote_add_page?userId={{d.objId}}}"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>&nbsp;发布投票</a>

<a class="layui-btn layui-btn-sm"
	th:href="@{/admin/invest/question_add_page?userId={{d.objId}}}"><i class="fa fa-question" aria-hidden="true"></i>&nbsp;发布问卷</a>
</script>
</html>