<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kemean.mapper.DaikenGoodsHotChargeMapper">
	<resultMap id="BaseResultMap" type="com.kemean.bean.DaikenGoodsHotCharge">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="screen_position" property="screenPosition"
			jdbcType="SMALLINT" />
		<result column="click_charge" property="clickCharge" jdbcType="DOUBLE" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="data_deleted" property="dataDeleted" jdbcType="BIT" />
	</resultMap>
</mapper>