<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta
	http-equiv="X-UA-Compatible"
	content="IE=edge,chrome=1" />
<meta
	name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<link
	rel="stylesheet"
	th:href="@{/layui/css/layui.css}"
	media="all" />
<link
	rel="stylesheet"
	href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" />
</head>
<body class="layui-fluid">

<div
		class="layui-card"
		style="margin-top: 30px;">
		<div class="layui-card-header">
			<i
				class="fa fa-users"
				aria-hidden="true"></i>&nbsp;<font
				color="#009688"
				style="font-weight: bold;">数量统计</font>
		</div>
		<div class="layui-card-body">
			<div class="layui-row">
				<div class="layui-col-md3 layui-col-sm3">
					<button class="layui-btn layui-btn-lg">
						<i
							class="fa fa-users"
							aria-hidden="true"></i> &nbsp;余额： <span
							class="layui-badge layui-bg-orange"
						 	 id="param_balance"
							th:text="${pageData.balance}"></span>
					</button>
				</div>
				
			</div>
		</div>
	</div>

	<div class="layui-row">
		<div class="layui-card">
			<div class="layui-card-header">
				<i
					class="fa fa-line-chart"
					aria-hidden="true"></i>&nbsp;<font
					color="#009688"
					style="font-weight: bold;">数据分析</font>
			</div>
			<div class="layui-card-body">
				<div class="layui-row">
					<div class="layui-col-md6">
						<div id="overhead_income_chart"></div>
					</div>
					<div class="layui-col-md6">
						<div id="arrival_notArrival_chart"></div>
					</div>
				</div>
				<div class="layui-row">
					<div class="layui-col-md10">
						<div id="recharge_chart"></div>
					</div>
				</div>
				
				<div class="layui-row">
					<div class="layui-col-md10">
						<div id="withdraw_chart"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js "></script>
<script
	th:src="@{/layui/layui.js}"
	charset="utf-8"></script>
<script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
<script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
<script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>


<script
	type="text/javascript"
	th:inline="javascript">
	
	
	var pageData=/*[[${pageData}]]*/;
	
	
	layui.use(['laydate','layer'],function(){
	});
	
		
		$('#overhead_income_chart').highcharts({
			title : {
				text : '店铺流水记录'
			},
			tooltip : {
				headerFormat : '{series.name}<br/>',
				pointFormat : '{point.name}: <b>{point.y}</b>'
			},
			colors : [ '#11CBD7', '#00BBF0', '#E63870', '#F68686', '#FFEED0' ],
			plotOptions : {
				pie : {
					allowPointSelect : true,
					cursor : 'pointer',
					dataLabels : {
						enabled : true,
						format : '<b>{point.name}</b>: {point.percentage:.1f} %'
					}
				}
			},
			series : [{
				type : 'pie',
				name : '店铺流水',
				data : [{
					name: '开销',
					y: pageData.overheadMoney
			},{
				name: '收入',
				y: pageData.incomeMoney
			}]
		}]
		});
		
		$('#arrival_notArrival_chart').highcharts({
			title : {
				text : '店铺流水记录'
			},
			tooltip : {
				headerFormat : '{series.name}<br/>',
				pointFormat : '{point.name}: <b>{point.y}</b>'
			},
			colors : [ '#11CBD7', '#00BBF0', '#E63870', '#F68686', '#FFEED0' ],
			plotOptions : {
				pie : {
					allowPointSelect : true,
					cursor : 'pointer',
					dataLabels : {
						enabled : true,
						format : '<b>{point.name}</b>: {point.percentage:.1f} %'
					}
				}
			},
			series : [{
				type : 'pie',
				name : '店铺流水',
				data : [{
					name: '到账',
					y:pageData.arrivalMoney
			},{
				name: '未到账',
				y:pageData.notArrivalMoney
				}]
		}]
		});
		
		
		
		
		Highcharts.chart('withdraw_chart', {
			chart : {
				type : 'line'
			},
			title : {
				  text: '店铺提现统计'
			},
			xAxis : {
				type:'category' 
			},
			yAxis : {
				title : {
					text : '金额'
				}
			},
			colors : [ '#009688', '#E63870', '#58E481', '#F68686', '#FFEED0' ],
			plotOptions : {
				series : {
					label : {
						connectorAllowed : false
					}
				}
			},
			series : [{
					name : '提现金额',
					data : pageData.withdrawMoney
				}]
		});
		
		
		
		Highcharts.chart('recharge_chart', {
			chart : {
				type : 'line'
			},
			title : {
				  text: '店铺充值统计'
			},
			xAxis : {
				type:'category' 
			},
			yAxis : {
				title : {
					text : '金额'
				}
			},
			colors : [ '#009688', '#E63870', '#58E481', '#F68686', '#FFEED0' ],
			plotOptions : {
				series : {
					label : {
						connectorAllowed : false
					}
				}
			},
			series : [{
					name : '充值金额',
					data : pageData.rechargeMoney
				}]
		});
		
		
	
	
	
</script>


</html>