<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta
	http-equiv="X-UA-Compatible"
	content="IE=edge,chrome=1" />
<meta
	name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<link
	rel="stylesheet"
	th:href="@{/layui/css/layui.css}"
	media="all" />
<link
	rel="stylesheet"
	th:href="@{/layui/css/global.css}" />
<link
	rel="stylesheet"
	href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" />
</head>
<body class="layui-container">
	<div
		class="layui-card"
		style="margin-top: 30px;">
		<div class="layui-card-header">
			<i
				class="fa fa-user"
				aria-hidden="true"></i>&nbsp;<font
				color="#009688"
				style="font-weight: bold;">重置密码</font>
		</div>
		<div class="layui-card-body">
			<div class="layui-form-item">
				<div class="layui-col-md3 layui-col-sm4 layui-col-sm5 ">
					<label class="layui-form-label">新密码：</label>
					<div class="layui-input-block">
						<input
							type="password"
							oninput="verfiyPassWord()"
							class="layui-input param_login_frist_password"
							placeholder="请输入新密码" /><label
							id="verify_frist_password"
							style="color: red;"></label>
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-col-md3 layui-col-sm4 layui-col-sm5">
					<label class="layui-form-label">确认密码：</label>
					<div class="layui-input-block">
						<input
							type="password"
							class="layui-input param_login_confirm_password"
							placeholder="请再次输入密码" /><label
							id="verify_confirm_password"
							style="color: red;"></label>
					</div>
				</div>
			</div>
		</div>
	</div>


	<blockquote
		class="layui-elem-quote"
		style="background-color: #F0F0F0;">
		<div class="layui-row layui-col-md-offset8">
			<button
				class="layui-btn"
				onclick="restPassword()">
				<i
					class="fa fa-check-square-o"
					aria-hidden="true"></i>&nbsp;&nbsp;重置
			</button>
			<button
				class="layui-btn layui-btn-primary"
				onclick="history.back();">
				<i
					class="fa fa-arrow-left"
					aria-hidden="true"></i>&nbsp;返回
			</button>
		</div>
	</blockquote>
</body>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js "></script>
<script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.min.js"></script>
<script
	th:src="@{/layui/layui.js}"
	charset="utf-8"></script>
<script
	th:src="@{/js/kemean_layui.js}"
	charset="utf-8"></script>

<script
	type="text/javascript"
	th:inline="javascript">
	var phone=/*[[${phone}]]*/;
	var url_shop_login_page = /*[[@{/shop/open/login}]]*/;
	var url_forget_password = /*[[@{/shop/open/forget_password_operate}]]*/;
	layui.use([ 'form', 'upload','laydate'], function() {
		
	});
	
	
	//校验登陆密码
	function verfiyPassWord(){
		var frist_password=$(".param_login_frist_password").val();
		if(!frist_password){
			document.getElementById("verify_frist_password").innerHTML="请输入新密码";
			return false;
		}
		//登陆密码校验
		var reg=new RegExp('/^[A-Za-z0-9]{6,12}$/');
		 /*<![CDATA[*/
		if(frist_password.length<6){
			document.getElementById("verify_frist_password").innerHTML="密码至少为6位";
			return false;
		}
		  /*]]>*/
		  
		$("#verify_frist_password").hide();
		
	}
	
	

	function restPassword() {
		var frist_password=$(".param_login_frist_password").val();
		var confirm_password=$(".param_login_confirm_password").val();
		if(frist_password != confirm_password){
			document.getElementById("verify_confirm_password").innerHTML="两次密码不一致";
			return false;
		}
		
		$.get(url_forget_password, {phone:phone,password:md5(confirm_password)}, function(data) {
			if(data.success){
				window.location=url_shop_login_page;
			}else{
				layer.msg(data.info);
				return false;
			}
		});
	}


</script>


</html>